.git
.gitattributes
.gitignore

.vscode
.idea

node_modules
.npmignore

docker
Dockerfile
docker-*.yaml
.dockerignore

.editorconfig
.eslintignore
.eslintrc
.prettierignore
.prettierrc

doc
docs
example*

LICENSE
*.md

*.env
*.log
*.pid
